*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --main-color: #0a0a10;
    --main-text-color: #FFF;
    --sections-color: #15141b;
    --second-color: #00e0be;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--main-text-color);
    background-color: var(--main-color);
}

/* Header style of the site */
#header{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 2%;
    height: 6rem;
    width: 100%;
    top: 0;
    background-color: var(--main-color);
    box-shadow: 0 0 10px 0 var(--second-color);
    z-index: 1;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#menu-options{
    display: flex;
}

#menu-options a{
    transition: all ease 0.3s;
}

#menu-options a:hover{
    color: var(--second-color);
}

#menu-options a{
    text-decoration: none;
    margin: 0 1.8rem 0 0;
    color: var(--main-text-color);
}

/* Estyle of the apresentation */
#firt-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 7rem 2rem 7rem 2rem;
}

#container-apresentation{
    width: 500px;
}

#container-wellcome{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#container-wellcome span#span-my-name{
    font-size: 46pt;
}

#container-wellcome p span#span-my-type{
    color: var(--second-color)
}

/* Style of the section who i'm */
#section-who-i-am{
    display: flex;
    align-items: center;
}

.background-section{
    padding: 10rem 5rem;
    background-color: var(--sections-color);
}

#section-who-i-am #container-who-i-am{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#container-who-i-am img{
    border-radius: 50%;
    width: 20rem;
}

#container-desc{
    width: 70%;
}

#container-desc h2{
    color: var(--second-color);
    margin-bottom: 3rem;
}

#container-desc p{
    text-indent: 20px;
    line-height: 2rem;
}

/* Etyle of the projects section */

#section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem 0 0 0;
}

#section-projects h2{
    margin-bottom: 5rem;
    color: var(--second-color);
}

#container-cards{
    display: flex;
    gap: 5rem;
}

#section-acquirements{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem 0 0 0;
}

#section-acquirements h2{
    margin-bottom: 5rem;
    color: var(--second-color);
}

#container-acquirements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7rem 2rem 4rem 2rem;
}

#container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}
#container-footer h3{
    align-self: center;
    margin-bottom: 2rem;
}

#container-communications{
    display: flex;
    gap: 2.3rem;
}

#container-communications img{
    width: 100px;

}

@media screen and (min-width: 320px) and (max-width: 515px){
    /* Primeira seção */
    #firt-section{
        margin: 7rem 2rem 3rem 2rem
    }
    #container-wellcome{
        flex-direction: column-reverse;
        align-items: center;
    }
    #container-wellcome img{
        width: 15rem;
    }

    #container-wellcome span#span-my-name{
        font-size: 36pt;
    }

    #container-apresentation{
        width: auto;
    }

    /* Segunda seção */

    #container-who-i-am{
        flex-direction: column;
    }
    #container-who-i-am img{
        width: 10rem;
        margin-bottom: 2rem;
    }

    .background-section{
        padding: 5rem 2rem;
    }

    #container-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container-who-i-am div{
        width: 100%;
    }

    /* Terceira seção */
    #container-cards{
        flex-direction: column;
        gap: 3rem;
    }
    #container-cards .cards{
        height: 100%
    }

    #container-acquirements{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    #container-acquirements #container-cards-acquirements{
        width: 7rem;
        height: 7rem;
    }

    /* Footer */
    footer{
        flex-direction: column;
    }
    footer h3{
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 515px) and (max-width: 760px){
        /* Primeira seção */
        #firt-section{
            margin: 7rem 2rem 3rem 2rem
        }
        #container-wellcome{
            flex-direction: column-reverse;
            align-items: center;
        }
        #container-wellcome img{
            width: 15rem;
        }
    
        #container-wellcome span#span-my-name{
            font-size: 36pt;
        }
    
        #container-apresentation{
            width: auto;
        }
    
        /* Segunda seção */
    
        #container-who-i-am{
            flex-direction: column;
        }
        #container-who-i-am img{
            width: 10rem;
            margin-bottom: 2rem;
        }
    
        .background-section{
            padding: 5rem 2rem;
        }
    
        #container-desc{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        #container-who-i-am div{
            width: 100%;
        }
    
        /* Terceira seção */
        #container-cards{
            flex-direction: column;
            gap: 3rem;
        }
        #container-cards .cards{
            height: 100%
        }
    
        #container-acquirements{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
    
        #container-acquirements #container-cards-acquirements{
            width: 7rem;
            height: 7rem;
        }
    
        /* Footer */
        footer{
            flex-direction: column;
        }
        footer h3{
            margin-bottom: 3rem;
        }
}

@media screen and (min-width: 761px) and (max-width: 1024px){
    /* Primeira seção */
    #firt-section{
        margin: 7rem 2rem 3rem 2rem
    }
    #container-wellcome{
        align-items: center;
    }
    #container-wellcome img{
        width: 15rem;
    }

    #container-wellcome span#span-my-name{
        font-size: 36pt;
    }

    #container-apresentation{
        width: auto;
    }

    /* Segunda seção */

    #container-who-i-am{
        flex-direction: column;
    }

    #container-who-i-am img{
        width: 10rem;
        margin-bottom: 2rem;
    }

    .background-section{
        padding: 5rem 2rem;
    }

    #container-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container-who-i-am div{
        width: 100%;
    }

    /* Terceira seção */
    #container-cards{
        gap: 3rem;
        width: 100%;
    }
    #container-cards .cards{
        height: 100%;
        width: 12rem;
    }
    #container-cards .cards img{
        width: 12rem;
    }

    #container-acquirements{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 20px;
    }

    #container-acquirements #container-cards-acquirements{
        width: 7rem;
        height: 7rem;
    }

    /* Footer */
    footer{
        flex-direction: column;
    }
    footer h3{
        margin-bottom: 3rem;
    }
}

